<body>
  <header>
    <nav>
      <button type="button" id="add" ng-click="addNewToDo">New To Do Item</button>
      <button type="button" id="completed" ng-click="archiveToDo">Completed Items</button>
      <div class="time">
        Todays date is today
      </div>
    </nav>
  </header>


  <div ng-repeat="item in toDoArray">
    <h3>{{item.name}}</h3>
    <p>{{item.description}}</p>
    <button type="button" id="complete">Complete</button>
    <button type="button" id="delete">Delete</button>
  </div>






</body>
